<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>DevOps Assignment</title>
</head>
<body>
  <p>Hello world! This is running on </p>
  <p th:text="${env}"></p>
</body>
</html>